#navi_container {
	padding:5px;
}
#nav_servives label,
#navi_container label{
	display:block;
	margin:5px 0 5px 5px;
	color:blue;
}

#nav_punkt{
	width:250px;
	border-right:1px dashed #e3e3e3;
	float:left; 
}
#nav_mode {
	width:150px;
	border-right:1px dashed #e3e3e3;
	float:left; 
	margin-left:5px;
	padding-right:10px;
}
#nav_servives {
	float:left;
	width:auto;/*350px;*/
}
#nav_but {
	width:120px;
	height:100px;
	float:right;
	padding:5px;
}
#nav_but button{
	width:90%;
	height:90%;
	border-radius:20px;
	text-decoration: none;
}
#map_description {
	padding:2px;
	
}
.adp-substep {
	font-size:12px;
}
.adp-legal {
	padding:5px;
	font-size:12px;
}
#sG{
	color:blue;
}
#sB{
	color:red;
}
#sY{
	color:green;
}
#sG,#sB,#sY{
	font-size:14px;
	font-weight:bold;
}
.bing_descr {
	list-style-type:none;
	font-size:14px;
	padding:0;
}
.bing_descr li {
	border-bottom:1px solid gray;
	padding:10px 0 10px 0px;
}